extend layout

block content
  .row.match-top
    .col-md-12
      h1(class='match_info' id="#{match.match_id}" style="float: left; margin-top: auto;")
        i(class="Btn fa fa-arrow-circle-o-left" title="Back" id="back")
        |  Match #{match.match_id}
      img(id="downloading" src="images/loading-spokes.svg" alt="Loading icon")
      if available
        button(type="button" class="btn btn-danger" id="delete" style="float: right; margin-top: 5px;")
          | Delete
        button(type="button" class="btn btn-success" id="watch" style="float: right; margin-top: 5px;")
          | Watch
      else
        button(type="button" class="btn btn-primary" id="download" style="float: right; margin-top: 5px;")
          | Download
  .row
    .col-md-12
      table.table.table-condensed
        thead
          tr
            td Game Mode
            td Region
            td Duration
            td Result
            td Played
            td Status
        tbody
          tr(class = match.radiant_win ? "success" : "danger")
            td= constants.modes[match.game_mode] ? constants.modes[match.game_mode].name : match.game_mode
            td= constants.regions[match.cluster] ? constants.regions[match.cluster] : match.cluster
            td= moment().startOf('day').seconds(match.duration).format("H:mm:ss")
            td= match.radiant_win ? "Radiant Victory" : "Dire Victory"
            td= moment.unix(match.start_time + match.duration).fromNow()
            td= constants.parse_status[match.parse_status]
  if match.parsed_data
    .row
      .col-md-12
        ul.nav.nav-tabs#match-nav-tabs
          each val, key in tabs
            li(class= (route == key ? 'active' : ''))
              a(href="#" class=key data-id="#{match.match_id}")= val.name
  script.
    ViewUtils.init();
    viewHelper.bindEvents();
    viewHelper.bindReplayEvents();