extend layout
block content
  script.
    $('.dataTable').dataTable({
      "order": [[0, "asc"]]
    });
  h3 Tracked Players
  #row
    #col-md-2
    #col-mid-8
    table.table#playersTable.dataTable
      thead
        tr
          th Name
          th Games
          th Wins
          th Losses
          th Winrate          
      each player in players
        tr
          td
            img(src=player.avatar style="padding-right: 1em;")
            a(href='#' class='player-link' id="#{player.account_id}")=player.personaname || player.account_id
          td=player.games
          td=player.win
          td=player.lose
          td #{(100*player.win/player.games).toFixed(2)}%
  script.
    viewHelper.bindEvents();